<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student</title>
</head>
<body>
	<form action="si" method="post">
		Student Id: <input type="number" name="id" placeholder="Enter Student Id"><br>
		Student Name: <input type="text" name="name" placeholder="Enter Student Name"><br>
		Student Email id: <input type="text" name="email_id" placeholder="Enter Student Email id"><br>
		<select name="coursename">
			<option>Deveops FSD</option>
			<option>Java FSD</option>
			<option>Python FSD</option>
		</select>
		<button>Submit</button>
	</form>
</body>
</html>